@media screen and (max-width:1024px) {
  .web{display: none;}
  .mobile{display: block;}
  .header_bg{display: none;}
  .m_gnb>li{font-weight: bold;}
  .m_gnb li ul {background: lightgray;display: none;}
  .m_gnb li.on ul {display: block;}
};
