@media screen and (max-width:1024px) {
  .web{display: none;}
  .mobile{display: block;}
  .header_bg{display: none;}
  .m_gnb>li{font-weight: bold;}
  .m_gnb li ul {background: lightgray;display: none;}
  .m_gnb a {display: block;}
};
@media screen and (min-width:768px) and (max-width:1023px){
  .slide {background-position: center center;text-align: center;}
  .slide_content {width: 80%;}
  #slide1 {background-image: url('../images/slide1_m.jpg');background-position: -190px 60px;}
  #slide1 .slide_content {position: relative;top: 15%}
  #slide2 {background-image: url('../images/slide2_m.jpg');background-position: center 100px}
  #slide2 .slide_content {position: relative;top: 15%;margin: auto;}
  #slide3 {background-image: url('../images/slide3_m.jpg')}
  #slide3 .slide_content {position: relative;top: 10%;}
  #slide4 {background-image: url('../images/slide4_m.jpg')}
  #slide4 .slide_content {position: relative;top: 15%;margin: auto;right: 0;text-align: center;}
  #slide5 {background-image: url('../images/slide5_m.jpg')}
  #slide5 .slide_content {position: relative;top: 16%;}
  .slide h2 {font-size: 1.5em;}
  .slide p {font-size: 1em;}
}
