@charset "utf-8";
/*@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
/* reset element */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, address, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea { margin:0; padding:0; font-family: 'Nanum Gothic', sans-serif; }
html,body{width:100%;height:100%;}
h1, h2, h3, h4, h5, h6 { font-size:100%; }
img, fieldset { border:none; }
table { border-collapse:collapse; }
ul, ol, li { list-style:none; }
address, em { font-style:normal; }
li img, object { vertical-align:top; }
input, select, textarea, form img { vertical-align:middle; }
a{text-decoration: none;color: #222;}
a:visited{text-decoration: none;color: #222;}
a:link{text-decoration: none; color: #222;}
a:hover {color: #222;}


/*header*/
header {width: 100%;margin: auto;position: fixed;left: 0;top: 0;z-index: 100 ;background: #fff;}
header h2,header h3{position: absolute;top: -9999px;left: -9999px;}
.web {width: 1280px;margin: auto;height: 53px;}
h1 {width: 250px;float: left;}
.gnb{width: 900px;text-align: center;float: right;font-size: 1em;z-index: 99}
.gnb > li{float: left;width: 20%;padding: 15px 0;position: relative;}
.gnb li a {display: block;}
.gnb li:hover {border-bottom: 2px solid #41d3f8;}
.gnb li:hover ul {opacity: 1;}
.gnb li:hover li {border-bottom: none;}
.gnb li:hover li a {color: #333;}
.active {opacity: 1;}
.gnb li ul { position: absolute;left: 0;top: 55px;padding-top: 60px;height: 180px;border-left: 1px solid #e6e9ed;opacity: 0.7;width: 100%}
.intro {background: url('../images/intro.png') center 15px no-repeat;}
.area {background: url('../images/area.png') center 15px no-repeat;}
.product {background: url('../images/product.png') center 15px no-repeat;}
.skill {background: url('../images/skill.png') center 15px no-repeat;}
.qna {background: url('../images/qna.png') center 15px no-repeat;}
.gnb li:first-child ul {border-left: none;}
.gnb li li a {font-size: 0.8em;font-weight: normal;padding: 7px 30px;text-align: center;}
.gnb li li a:hover {font-weight: bold;;}
.header_bg {display: block; width: 100%; height: 250px; background-color: #fff; border-top: 1px solid #e6e9ed; }

/*content*/
main {height: 100%;padding-top: 40px;}


.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}
.wrapper{
	width:960px;
	height:200px;
	margin:0 auto;
	position:relative;
}
.slideno{
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:100px;
	font-weight:bold;
	color:rgba(255,255,255,0.3);
}
.button{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	left:50%;
	background-color:#333333;
	background-image:url(../images/arrow.png);
}
.button:hover{
	background-color:#494949;
	cursor:pointer;
}

/******************************
 SLIDE 1
*******************************/
#slide1{
  background-image:url('../images/slide1.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
/******************************
 SLIDE 2
*******************************/
#slide2{
  background-image:url('../images/slide2.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#slide2 img:first-child{
	position:absolute;
top: 700px;
left: -150px;
}
#slide2 img:nth-child(2){
	position:absolute;
	top:300px;
	left:100px;
}
#slide2 img:nth-child(3){
	position:absolute;
	top:600px;
	left:300px;
}
#slide2 img:nth-child(4){
	position:absolute;
	top:400px;
	left:300px;
}
#slide2 img:nth-child(5){
	position:absolute;
	top:600px;
	right:300px;
}
#slide2 img:nth-child(6){
	position:absolute;
	top:600px;
	right:300px;
}
#slide2 img:nth-child(7){
	position:absolute;
	top:400px;
	right:100px;
}
#slide2 img:nth-child(8){
	position:absolute;
	top:100px;
	right:300px;
}
/******************************
 SLIDE 3
*******************************/
#slide3{
  background-image:url('../images/slide3.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#slide3 img:first-child{
	position:absolute;
top: 700px;
left: 300px;
}
#slide3 img:nth-child(2){
	position:absolute;
	top:100px;
	left:100px;
}
#slide3 img:nth-child(3){
	position:absolute;
	top:150px;
	left:300px;
}
#slide3 img:nth-child(4){
	position:absolute;
	top:450px;
	left:300px;
}
#slide3 img:nth-child(5){
	position:absolute;
	top:200px;
	right:300px;
}
#slide3 img:nth-child(6){
	position:absolute;
	top:100px;
	right:300px;
}
/******************************
 SLIDE 4
*******************************/

#slide4{
	background-image:url('../images/slide4.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#slide4 .parallaxbg{
	position:absolute;
	right:40px;
	top:40px;
	font-size:28px;
	color:rgba(51,51,51,0.3);
}

#slide5{
  background-image:url('../images/slide5.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
