@charset "utf-8";

/* reset element */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, address, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea { margin:0; padding:0; }
h1, h2, h3, h4, h5, h6 { font-size:100%; }
img, fieldset { border:none; }
table { border-collapse:collapse; }
ul, ol, li { list-style:none; }
address, em { font-style:normal; }
li img, object { vertical-align:top; }
input, select, textarea, form img { vertical-align:middle; }
p{line-height:24px;}
a{text-decoration: none;color: #222;}
a:visited{text-decoration: none;color: #222;}
a:link{text-decoration: none; color: #222;}
a:hover {color: #ccc;}


/*header*/
header {overflow: hidden;width: 100%;margin: auto;position: fixed;z-index: 1 ;overflow: hidden;background: #fff;}
h1 {width: 250px;float: left;}
.gnb{width: 700px;text-align: center;overflow: hidden;float: right;font-size: 1em;}
.gnb>li{float: left;width: 16%;}
.sub_wrap {top: 0;overflow:hidden; z-index:100; width:100%; position: relative;font-size: 0.7em;}
.sub {width: 700px;margin: auto;float: right;}
.sub ul {float: left;width: 16%;z-index: 100}
.sub ul li{width: 16%;padding: 1%}
main {height: 100%;padding-top: 40px;}
